.menu {
  background-color: #3eb060;
  display: flex;
  justify-content: space-around;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

p {
  width: 80%;
  text-align: justify;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 12px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
}

li:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 234);
  transition: 1000ms;
}

.seleccionado {
  background-color: #9bb03e;
  transition: 600ms;
}